@tailwind base;
@tailwind components;
@tailwind utilities;

*{
	transition: 0.5s;
}

a:hover{
	color: black;
	border-bottom: 1px solid black;
	transition: 0.5s;
}
.active-link{
	color: black;
	border-bottom: 1px solid black;
}
